%html(lang="en")
  %head

  %body
    .container
      - if flash[:notice]
        .alert.alert-notice
          = flash[:notice]
      - if flash[:error]
        .alert.alert-error
          = flash[:error]

      = yield